<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mandart</title>

    <!-- stylesheet -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/mainbox.css" />
    <link rel="stylesheet" href="/css/create.css" />

    <!-- icon -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/bootstrap-social.css" />
    <!-- font -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat|Nanum+Gothic|Nanum+Myeongjo|Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gamja+Flower&display=swap"
      rel="stylesheet"
    />

    <!-- bootstrap-->
    <link
      href="/docs/4.4/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/" style="color: black">Mandart</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <div class="profile-container">
            <a href="/main"
              ><img
                src="https://image.flaticon.com/icons/svg/61/61205.svg"
                alt="account-img"
            /></a>
          </div>
        </ul>
      </div>
    </nav>
  </body>
</html>
