<% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
<div class="alert alert-warning">
  <h3><%= error.msg %></h3>
</div>
<% }); %> <% } %> <% if(success_msg != ''){ %>
<div class="alert alert-success">
  <h3><%= success_msg %></h3>
</div>
<% } %> <% if(error_msg != ''){ %>
<div class="alert alert-danger">
  <h3><%= error_msg %></h3>

</div>
<% } %> <% if(error != ''){ %>
<div class="alert alert-danger">
  <h3><%= error %></h3>

</div>
<% } %>