<%- include("partials/header") -%>

<body class="main-body">
  <form action="/main/create" method="post">
    <input id="mainTitle" type="hidden" name="mainTitle" />
    <input id="themeId" type="hidden" name="themeId" />
    <%- include("partials/boxes") -%>
  </form>
</body>

<script src="/scripts/create.js"></script>
<script src="/scripts/boxes.js"></script>
<script src="/scripts/common/maxLength.js"></script>
<%- include('partials/footer') %>