<%- include("partials/header") -%>

<div class="back-btn">
    <a href="/home"><img src="https://image.flaticon.com/icons/svg/271/271218.svg" alt="back-btn"></a>
</div>

<form action="/create" method=POST>
    <div class="form-group setTitle">
        <label for="titleText">Title</label>
        <input type="text" class="form-control titleText" name="titleText">
    </div>

    <div class="themes">
        <div class="form-check form-check-inline theme1">
            <input class="form-check-input" type="checkbox" name="theme" id="inlineCheckbox1" value="green">
            <img class="theme-img" src="/imgs/theme1.png">
        </div>

        <div class="form-check form-check-inline theme2">
            <input class="form-check-input" type="checkbox" name="theme" id="inlineCheckbox2" value="purple">
            <img class="theme-img" src="/imgs/theme2.png">
        </div>

        <div class="form-check form-check-inline theme3">
            <input class="form-check-input" type="checkbox" name="theme" id="inlineCheckbox3" value="gray">
            <img class="theme-img" src="/imgs/theme3.png">
        </div>

        <button class="submit-btn" id="btn" type="submit"><img class="btn-img" src="https://image.flaticon.com/icons/svg/483/483327.svg"></button>
    </div>
    
</form>


<%- include('partials/footer') %>