<%- include("partials/header") -%>
<body class="main-body">
  <form action="/main/create" method="post">
    <div class="mainbox-container">
      <input id="mainTitle" type="hidden" name="mainTitle" />
      <input id="themeId" type="hidden" name="themeId" />
      <div class="box-container">
        <div class="box-background">
          <div class="big-boxes">
            <div class="big-line">
              <div class="small-boxes side">
                <div class="small-line">
                  <textarea class="small-box" name="TopLeftPlan"></textarea>
                  <textarea class="small-box" name="TopLeftPlan"></textarea>
                  <textarea class="small-box" name="TopLeftPlan"></textarea>
                </div>
                <div class="small-line">
                  <textarea class="small-box" name="TopLeftPlan"></textarea>
                  <textarea
                    name="TopLeftObj"
                    class="small-box small-obj"
                  ></textarea>
                  <textarea class="small-box" name="TopLeftPlan"></textarea>
                </div>
                <div class="small-line">
                  <textarea class="small-box" name="TopLeftPlan"></textarea>
                  <textarea class="small-box" name="TopLeftPlan"></textarea>
                  <textarea class="small-box" name="TopLeftPlan"></textarea>
                </div>
              </div>
              <div class="small-boxes side">
                <div class="small-line">
                  <textarea class="small-box" name="TopPlan"></textarea>
                  <textarea class="small-box" name="TopPlan"></textarea>
                  <textarea class="small-box" name="TopPlan"></textarea>
                </div>
                <div class="small-line">
                  <textarea class="small-box" name="TopPlan"></textarea>
                  <textarea
                    name="TopObj"
                    class="small-box small-obj"
                  ></textarea>
                  <textarea class="small-box" name="TopPlan"></textarea>
                </div>
                <div class="small-line">
                  <textarea class="small-box" name="TopPlan"></textarea>
                  <textarea class="small-box" name="TopPlan"></textarea>
                  <textarea class="small-box" name="TopPlan"></textarea>
                </div>
              </div>
              <div class="small-boxes side">
                <div class="small-line">
                  <textarea class="small-box" name="TopRightPlan"></textarea>
                  <textarea class="small-box" name="TopRightPlan"></textarea>
                  <textarea class="small-box" name="TopRightPlan"></textarea>
                </div>
                <div class="small-line">
                  <textarea class="small-box" name="TopRightPlan"></textarea>
                  <textarea
                    name="TopRightObj"
                    class="small-box small-obj"
                  ></textarea>
                  <textarea class="small-box" name="TopRightPlan"></textarea>
                </div>
                <div class="small-line">
                  <textarea class="small-box" name="TopRightPlan"></textarea>
                  <textarea class="small-box" name="TopRightPlan"></textarea>
                  <textarea class="small-box" name="TopRightPlan"></textarea>
                </div>
              </div>
            </div>

            <div class="big-line">
              <div class="small-boxes side">
                <div class="small-line">
                  <textarea class="small-box" name="LeftPlan"></textarea>
                  <textarea class="small-box" name="LeftPlan"></textarea>
                  <textarea class="small-box" name="LeftPlan"></textarea>
                </div>
                <div class="small-line">
                  <textarea class="small-box" name="LeftPlan"></textarea>
                  <textarea
                    name="LeftObj"
                    class="small-box small-obj"
                  ></textarea>
                  <textarea class="small-box" name="LeftPlan"></textarea>
                </div>
                <div class="small-line">
                  <textarea class="small-box" name="LeftPlan"></textarea>
                  <textarea class="small-box" name="LeftPlan"></textarea>
                  <textarea class="small-box" name="LeftPlan"></textarea>
                </div>
              </div>
              <div class="small-boxes middle">
                <div class="small-line">
                  <textarea
                    name="TopLeftObj"
                    class="small-box small-obj"
                  ></textarea>
                  <textarea
                    name="TopObj"
                    class="small-box small-obj"
                  ></textarea>
                  <textarea
                    name="TopRightObj"
                    class="small-box small-obj"
                  ></textarea>
                </div>
                <div class="small-line">
                  <textarea
                    name="LeftObj"
                    class="small-box small-obj"
                  ></textarea>
                  <textarea class="small-box main-obj"></textarea>
                  <textarea
                    name="RightObj"
                    class="small-box small-obj"
                  ></textarea>
                </div>
                <div class="small-line">
                  <textarea
                    name="BottomLeftObj"
                    class="small-box small-obj"
                  ></textarea>
                  <textarea
                    name="BottomObj"
                    class="small-box small-obj"
                  ></textarea>
                  <textarea
                    name="BottomRightObj"
                    class="small-box small-obj"
                  ></textarea>
                </div>
              </div>
              <div class="small-boxes side">
                <div class="small-line">
                  <textarea class="small-box" name="RightPlan"></textarea>
                  <textarea class="small-box" name="RightPlan"></textarea>
                  <textarea class="small-box" name="RightPlan"></textarea>
                </div>
                <div class="small-line">
                  <textarea class="small-box" name="RightPlan"></textarea>
                  <textarea
                    name="RightObj"
                    class="small-box small-obj"
                  ></textarea>
                  <textarea class="small-box" name="RightPlan"></textarea>
                </div>
                <div class="small-line">
                  <textarea class="small-box" name="RightPlan"></textarea>
                  <textarea class="small-box" name="RightPlan"></textarea>
                  <textarea class="small-box" name="RightPlan"></textarea>
                </div>
              </div>
            </div>

            <div class="big-line">
              <div class="small-boxes side">
                <div class="small-line">
                  <textarea class="small-box" name="BottomLeftPlan"></textarea>
                  <textarea class="small-box" name="BottomLeftPlan"></textarea>
                  <textarea class="small-box" name="BottomLeftPlan"></textarea>
                </div>
                <div class="small-line">
                  <textarea class="small-box" name="BottomLeftPlan"></textarea>
                  <textarea
                    name="BottomLeftObj"
                    class="small-box small-obj"
                  ></textarea>
                  <textarea class="small-box" name="BottomLeftPlan"></textarea>
                </div>
                <div class="small-line">
                  <textarea class="small-box" name="BottomLeftPlan"></textarea>
                  <textarea class="small-box" name="BottomLeftPlan"></textarea>
                  <textarea class="small-box" name="BottomLeftPlan"></textarea>
                </div>
              </div>
              <div class="small-boxes side">
                <div class="small-line">
                  <textarea class="small-box" name="BottomPlan"></textarea>
                  <textarea class="small-box" name="BottomPlan"></textarea>
                  <textarea class="small-box" name="BottomPlan"></textarea>
                </div>
                <div class="small-line">
                  <textarea class="small-box" name="BottomPlan"></textarea>
                  <textarea
                    name="BottomObj"
                    class="small-box small-obj"
                  ></textarea>
                  <textarea class="small-box" name="BottomPlan"></textarea>
                </div>
                <div class="small-line">
                  <textarea class="small-box" name="BottomPlan"></textarea>
                  <textarea class="small-box" name="BottomPlan"></textarea>
                  <textarea class="small-box" name="BottomPlan"></textarea>
                </div>
              </div>
              <div class="small-boxes side">
                <div class="small-line">
                  <textarea class="small-box" name="BottomRightPlan"></textarea>
                  <textarea class="small-box" name="BottomRightPlan"></textarea>
                  <textarea class="small-box" name="BottomRightPlan"></textarea>
                </div>
                <div class="small-line">
                  <textarea class="small-box" name="BottomRightPlan"></textarea>
                  <textarea
                    name="BottomRightObj"
                    class="small-box small-obj"
                  ></textarea>
                  <textarea class="small-box" name="BottomRightPlan"></textarea>
                </div>
                <div class="small-line">
                  <textarea class="small-box" name="BottomRightPlan"></textarea>
                  <textarea class="small-box" name="BottomRightPlan"></textarea>
                  <textarea class="small-box" name="BottomRightPlan"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="check" type="submit"><img src="/svg/check.svg" /></button>
  </form>
</body>

<script src="/scripts/create.js"></script>
<script src="/scripts/common/maxLength.js"></script>
<%- include('partials/footer') %>
