<%- include("partials/header") -%>
<body class="main-body">
  <form action="/main/create" method="post"></form>
  <div class="mainbox-container">
    <div class="box-container">
      <div class="box-background">
        <div class="big-boxes">
          <div class="big-line">
            <div class="small-boxes">
              <div class="small-line">
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
              </div>
              <div class="small-line">
                <textarea class="small-box"></textarea>
                <textarea class="small-box small-obj"></textarea>
                <textarea class="small-box"></textarea>
              </div>
              <div class="small-line">
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
              </div>
            </div>
            <div class="small-boxes">
              <div class="small-line">
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
              </div>
              <div class="small-line">
                <textarea class="small-box"></textarea>
                <textarea class="small-box small-obj"></textarea>
                <textarea class="small-box"></textarea>
              </div>
              <div class="small-line">
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
              </div>
            </div>
            <div class="small-boxes">
              <div class="small-line">
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
              </div>
              <div class="small-line">
                <textarea class="small-box"></textarea>
                <textarea class="small-box small-obj"></textarea>
                <textarea class="small-box"></textarea>
              </div>
              <div class="small-line">
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
              </div>
            </div>
          </div>

          <div class="big-line">
            <div class="small-boxes">
              <div class="small-line">
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
              </div>
              <div class="small-line">
                <textarea class="small-box"></textarea>
                <textarea class="small-box small-obj"></textarea>
                <textarea class="small-box"></textarea>
              </div>
              <div class="small-line">
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
              </div>
            </div>
            <div class="small-boxes middle">
              <div class="small-line">
                <textarea class="small-box small-obj"></textarea>
                <textarea class="small-box small-obj"></textarea>
                <textarea class="small-box small-obj"></textarea>
              </div>
              <div class="small-line">
                <textarea class="small-box small-obj"></textarea>
                <textarea class="small-box main-obj"></textarea>
                <textarea class="small-box small-obj"></textarea>
              </div>
              <div class="small-line">
                <textarea class="small-box small-obj"></textarea>
                <textarea class="small-box small-obj"></textarea>
                <textarea class="small-box small-obj"></textarea>
              </div>
            </div>
            <div class="small-boxes">
              <div class="small-line">
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
              </div>
              <div class="small-line">
                <textarea class="small-box"></textarea>
                <textarea class="small-box small-obj"></textarea>
                <textarea class="small-box"></textarea>
              </div>
              <div class="small-line">
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
              </div>
            </div>
          </div>

          <div class="big-line">
            <div class="small-boxes">
              <div class="small-line">
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
              </div>
              <div class="small-line">
                <textarea class="small-box"></textarea>
                <textarea class="small-box small-obj"></textarea>
                <textarea class="small-box"></textarea>
              </div>
              <div class="small-line">
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
              </div>
            </div>
            <div class="small-boxes">
              <div class="small-line">
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
              </div>
              <div class="small-line">
                <textarea class="small-box"></textarea>
                <textarea class="small-box small-obj"></textarea>
                <textarea class="small-box"></textarea>
              </div>
              <div class="small-line">
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
              </div>
            </div>
            <div class="small-boxes">
              <div class="small-line">
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
              </div>
              <div class="small-line">
                <textarea class="small-box"></textarea>
                <textarea class="small-box small-obj"></textarea>
                <textarea class="small-box"></textarea>
              </div>
              <div class="small-line">
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
                <textarea class="small-box"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="/scripts/create.js"></script>
<script src="/scripts/common/maxLength.js"></script>
<%- include('partials/footer') %>
