<%- include("partials/header") -%>
<div class="create-container">
  <div class="create-box green">
    <a href="/home"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        class="back-btn"
        viewBox="0 0 447.243 383.558"
      >
        <path
          d="M420.361,192.229a31.967,31.967,0,0,0-5.535-.41H99.305l6.88-3.2a64,64,0,0,0,18.08-12.8l88.48-88.48a33.12,33.12,0,0,0,4.64-42.4,32,32,0,0,0-48-4.16l-160,160a32,32,0,0,0-.025,45.255l.025.025,160,160a32,32,0,0,0,48-3.2,33.12,33.12,0,0,0-4.64-42.4l-88.32-88.64a64,64,0,0,0-16-11.68l-9.6-4.32h314.24a33.12,33.12,0,0,0,33.76-26.88A32,32,0,0,0,420.361,192.229Z"
        /></svg
    ></a>
    <form action="/create" method="POST">
      <div class="obj-create">
        <h1>가장 메인이 되는 목표를 세워보세요</h1>
        <h2>건강해지기, 부자되기, 공부 등 어떤 것도 좋습니다</h2>
        <input
          autocomplete="off"
          type="text"
          class="main-obj-input"
          name="mainObj"
        />
      </div>
      <ul class="theme-colors">
        <li class="thm-color">
          <input
            id="green"
            type="radio"
            name="choice"
            value="green"
            checked
          /><label for="green"><span class="green"></span></label>
        </li>
        <li class="thm-color">
          <input id="pink" type="radio" name="choice" value="pink" /><label
            for="pink"
            ><span class="pink"></span
          ></label>
        </li>
        <li class="thm-color">
          <input id="blue" type="radio" name="choice" value="blue" /><label
            for="blue"
            ><span class="blue"></span
          ></label>
        </li>
        <li class="thm-color">
          <input id="olive" type="radio" name="choice" value="olive" /><label
            for="olive"
            ><span class="olive"></span
          ></label>
        </li>
        <li class="thm-color">
          <input id="purple" type="radio" name="choice" value="purple" /><label
            for="purple"
            ><span class="purple"></span
          ></label>
        </li>
        <li class="thm-color">
          <input id="dark" type="radio" name="choice" value="dark" /><label
            for="dark"
            ><span class="dark"></span
          ></label>
        </li>
      </ul>
      <button class="arrow-down" type="submit"></button>
    </form>
  </div>
</div>

<script src="/scripts/create.js"></script>

<%- include('partials/footer') %>
