<%- include("partials/header") -%>
<body class="home-body">
  <div class="home-container">
    <div class="home-title">
      <h1><span>Manda La</span> Art</h1>
      <h3><span>Plan</span> your new dream and <span>realize</span> it</h3>
    </div>
    <div class="home-btns">
      <button onClick="location.href='/auth/login'">Sign in</button>
      <button onClick="location.href='/auth/signup'">Sign up</button>
    </div>
  </div>
</body>

<%- include("partials/footer") -%>
