<%- include("partials/header") -%>

<div class="cubes-container bottom">
  <div class="cubes">
    <div class="empty-cube"></div>
    <div class="cube"></div>
    <div class="empty-cube"></div>
    <div class="cube"></div>
    <div class="empty-cube"></div>
  </div>
  <div class="cubes">
    <div class="cube"></div>
    <div class="empty-cube"></div>
    <div class="cube"></div>
    <div class="empty-cube"></div>
    <div class="cube"></div>
  </div>
  <div class="cubes">
    <div class="empty-cube"></div>
    <div class="cube"></div>
    <div class="empty-cube"></div>
    <div class="cube"></div>
    <div class="empty-cube"></div>
  </div>
  <div class="cubes">
    <div class="cube"></div>
    <div class="empty-cube"></div>
    <div class="cube"></div>
    <div class="empty-cube"></div>
    <div class="cube"></div>
  </div>
</div>

<div class="box main-box">
  <div class="cube attached"></div>
  <h1 class="main-title-en">Manda La Art <span>Planner</span></h1>
  <h1 class="main-title-kr">만다라트<br /><span>플래너</span></h1>
  <button class="start-btn" type="button" onClick="location.href='/auth/login'">
    시작하기
  </button>
  <div class="cubes-container top">
    <div class="cubes">
      <div class="empty-cube"></div>
      <div class="cube"></div>
      <div class="empty-cube"></div>
      <div class="cube"></div>
      <div class="empty-cube"></div>
    </div>
    <div class="cubes">
      <div class="cube"></div>
      <div class="empty-cube"></div>
      <div class="cube"></div>
      <div class="empty-cube"></div>
      <div class="cube"></div>
    </div>
    <div class="cubes">
      <div class="empty-cube"></div>
      <div class="cube" style="background: rgba(21, 34, 50, 0.2)"></div>
      <div class="empty-cube"></div>
      <div class="cube" style="background: rgba(21, 34, 50, 0.2)"></div>
      <div class="empty-cube"></div>
    </div>
    <div class="cubes">
      <div class="cube fall"></div>
      <div class="empty-cube"></div>
      <div class="cube"></div>
      <div class="empty-cube"></div>
      <div class="cube" style="background: rgba(21, 34, 50, 0.2)"></div>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
