<%- include("partials/header") -%> <%- include("navs/mainNav") -%>

<div class="main-container">
  <div class="main-title">
    <h1><span>Manda La</span> Art</h1>
    <h2><span>Plan</span> your new dream and <strong>realize</strong> it</h2>
  </div>
  <button onClick="location.href='/auth/login'">Sign in</button>
  <button onClick="location.href='/auth/signup'">Sign up</button>
</div>

<%- include("partials/footer") -%>
