<%- include("partials/header") -%>

<body class="home-body">
  <div class="home-container">
    <div class="home-title">
      <h1><span>Manda La</span> Art</h1>
      <h3><span>Plan</span> your new dream and <span>realize</span> it</h3>
    </div>
    <div class="home-btns">
      <button onClick="location.href='/auth/login'">
        <div class="diamond"></div>
        <h3 class="marL_30 bold">Sign in</h3>
      </button>
      <button onClick="location.href='/auth/signup'">
        <div class="diamond white"></div>
        <h3 class="marL_30 bold">Sign up</h3>
      </button>
    </div>
  </div>
  <div class="home-footer">
    <div class="trial-container">
      <form action="/auth/login" method="POST">
        <input type="hidden" name="email" value="trial@gmail.com">
        <input type="hidden" name="password" value="trial1234~">
        <button type="submit">
          <div class="diamond white"></div><span class="body3 marL_20">Trial Version(체험해보기)</span>
        </button>
      </form>
    </div>
    <div class="design-info-container">
      <a class="body3" href="https://www.notion.so/PORTFOLIO-bf2c1c1b34a74c30b96dd9b3108a16f4">Designed by <span>Sohee Park</span></a>
    </div>
  </div>
  

</body>

<%- include("partials/footer") -%>