<%- include("partials/header") -%>



<div class="container-fluid mid-container">
  <h1>만다라트</h1>
<p class="home-content">만다라트는 Manda+La+Art의 합성어로
  <br> 그림이나 도형이 끊임없이 반복되며 펼쳐져 나가는 모양으로
  <br>깨달음의 경지를 표현한 불교의 그림에서 착안한 것이다.
  <br><br>
  만다라는 심신을 안정시켜주고 생각을 정리하는 데 도움을 준다.
  <br> 크고 작은 고민거리나 한해의 목표등을 정리하는 데 이를 사용해보자.
</p>
  <button type="button" onclick="location.href='login'" class="btn btn-lg btn-dark start-btn">시작하기</button>
</div>

<div class="container-fluid press-container">
  
</div>

<%- include("partials/footer") -%>