<%- include("partials/header") -%>

<div class="main-container">
  <div class="main-box">
    <div class="cube"></div>
    <h1 class="main-title-en">Manda La Art <span>Planner</span></h1>
    <h1 class="main-title-kr">만다라트<br /><span>플래너</span></h1>
    <button
      class="start-btn"
      type="button"
      onClick="location.href='/users/login'"
    >
      시작하기
    </button>
  </div>
</div>

<%- include("partials/footer") -%>
