<%- include('partials/header') %>
<body class="auth-body">
  <div class="auth-container">
    <h2>Sign in</h2>
    <p class="body2">Hello, Make your new plan</p>
    <form class="auth-form" action="/auth/login" method="POST">
      <input
        type="email"
        name="username"
        placeholder="Email"
        autocomplete="none"
      />
      <input type="password" name="password" placeholder="Password" />
      <h3><%=feedback%></h3>
      <input type="submit" class="login-btn" value="Sign in" />
    </form>
  </div>
</body>
<%- include('partials/footer') %>
