<%- include("partials/header") -%>
<div id="elementContainer">
  <div class="row">
    <div class="elements-column col-lg-4 col-md-6">
      <div class="element">
        <h3 class="title-text">Sample</h3>
        <button type="button" class="theme-button">
          <img src="/imgs/theme1.png" alt="" />
        </button>
      </div>
    </div>

    <div class="elements-column col-lg-4 col-md-6">
      <div class="element">
        <h3 class="title-text">Sample</h3>
        <button type="button" class="theme-button">
          <img src="/imgs/theme1.png" alt="" />
        </button>
      </div>
    </div>

    <div class="elements-column col-lg-4 col-md-6">
      <div class="element">
        <h3 class="title-text">Sample</h3>
        <button type="button" class="theme-button">
          <img src="/imgs/theme1.png" alt="" />
        </button>
      </div>
    </div>
  </div>
  <form action="/main/create" method="get">
    <div class="plusBtnContainer">
      <button><img src="imgs/plusBtn.png" alt="" /></button>
    </div>
  </form>
</div>

<%- include('partials/footer') %>
