<%- include('partials/header') %>

<table>
    <tr>
        <td class="small-piece"><div>a</div></td>
        <td class="small-piece"><div>b</div></td>
        <td class="small-piece"><div>c</div></td>

        <td class="small-piece"><div>d</div></td>
        <td class="small-piece"><div>d</div></td>
        <td class="small-piece"><div>d</div></td>

        <td class="small-piece"><div>d</div></td>
        <td class="small-piece"><div>d</div></td>
        <td class="small-piece"><div>d</div></td>
    </tr>
    <tr>
        <td class="small-piece"><div>d</div></td>
        <td>ob1</td>
        <td class="small-piece"><div>e</div></td>
        <td class="small-piece"><div>d</div></td>
        <td>ob2</td>
        <td class="small-piece"><div>e</div></td>
        <td class="small-piece"><div>d</div></td>
        <td>ob3</td>
        <td class="small-piece"><div>e</div></td>
    </tr>
    <tr>
        <td class="small-piece"><div>f</div></td>
        <td class="small-piece"><div>g</div></td>
        <td class="small-piece"><div>h</div></td>
        <td class="small-piece"><div>f</div></td>
        <td class="small-piece"><div>g</div></td>
        <td class="small-piece"><div>h</div></td>
        <td class="small-piece"><div>f</div></td>
        <td class="small-piece"><div>g</div></td>
        <td class="small-piece"><div>h</div></td>
    </tr>

    <tr>
        <td class="small-piece"><div>f</div></td>
        <td class="small-piece"><div>g</div></td>
        <td class="small-piece"><div>h</div></td>
        <td class="small-piece"><div>f</div></td>
        <td class="small-piece"><div>g</div></td>
        <td class="small-piece"><div>h</div></td>
        <td class="small-piece"><div>f</div></td>
        <td class="small-piece"><div>g</div></td>
        <td class="small-piece"><div>h</div></td>
    </tr>

    <tr>
        <td class="small-piece"><div>d</div></td>
        <td>ob4</td>
        <td class="small-piece"><div>e</div></td>
        <td class="small-piece"><div>d</div></td>
        <td>obobob</td>
        <td class="small-piece"><div>e</div></td>
        <td class="small-piece"><div>d</div></td>
        <td>ob5</td>
        <td class="small-piece"><div>e</div></td>
    </tr>

    <tr>
        <td class="small-piece"><div>a</div></td>
        <td class="small-piece"><div>a</div></td>
        <td class="small-piece"><div>a</div></td>
        <td class="small-piece"><div>a</div></td>
        <td class="small-piece"><div>a</div></td>
        <td class="small-piece"><div>a</div></td>
        <td class="small-piece"><div>a</div></td>
        <td class="small-piece"><div>a</div></td>
        <td class="small-piece"><div>a</div></td>
    </tr>

    <tr>
        <td class="small-piece"><div>a</div></td>
        <td class="small-piece"><div>a</div></td>
        <td class="small-piece"><div>a</div></td>
        <td class="small-piece"><div>a</div></td>
        <td class="small-piece"><div>a</div></td>
        <td class="small-piece"><div>a</div></td>
        <td class="small-piece"><div>a</div></td>
        <td class="small-piece"><div>a</div></td>
        <td class="small-piece"><div>a</div></td>
    </tr>

    <tr>
        <td class="small-piece"><div>a</div></td>
        <td>ob6</td>
        <td class="small-piece"><div>a</div></td>
        <td class="small-piece"><div>a</div></td>
        <td>ob7</td>
        <td class="small-piece"><div>a</div></td>
        <td class="small-piece"><div>a</div></td>
        <td>ob8</td>
        <td class="small-piece"><div>a</div></td>
    </tr>
    <tr>
        <td class="small-piece"><div>a</div></td>
        <td class="small-piece"><div>a</div></td>
        <td class="small-piece"><div>a</div></td>
        <td class="small-piece"><div>a</div></td>
        <td class="small-piece"><div>a</div></td>
        <td class="small-piece"><div>a</div></td>
        <td class="small-piece"><div>a</div></td>
        <td class="small-piece"><div>a</div></td>
        <td class="small-piece"><div>a</div></td>
    </tr>
</table>

<%- include('partials/footer') %>
