<%- include("partials/header") -%>

<!-- Total Box -->
<form action="/mainbox" method="POST">
  <div class="total-box marT_60">
    <!-- Top Line -->
    <div class="line">
      <div class="box">
        <div class="boxes">
          <input type="text" class="box-el" name="Top" />
          <input type="text" class="box-el" name="Top" />
          <input type="text" class="box-el" name="Top" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" name="Top" />
          <input
            type="text"
            class="box-el colored side-objective"
            name="TopLeft"
          />
          <input type="text" class="box-el" name="Top" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" name="Top" />
          <input type="text" class="box-el" name="Top" />
          <input type="text" class="box-el" name="Top" />
        </div>
      </div>

      <div class="box">
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el colored side-objective" name="Top" />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
      </div>

      <div class="box">
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input
            type="text"
            class="box-el colored side-objective"
            name="TopRight"
          />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
      </div>
    </div>

    <!-- Middle Line -->

    <div class="line">
      <div class="box">
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input
            type="text"
            class="box-el colored side-objective"
            name="Left"
          />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
      </div>

      <div class="box middle">
        <div class="boxes">
          <input type="text" class="box-el colored" name="TopLeft" />
          <input type="text" class="box-el colored" name="Top" />
          <input type="text" class="box-el colored" name="TopRight" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el colored" name="Left" />
          <input type="text" class="box-el main-text" />
          <input type="text" class="box-el colored" name="Right" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el colored" name="BottomLeft" />
          <input type="text" class="box-el colored" name="Bottom" />
          <input type="text" class="box-el colored" name="BottomRight" />
        </div>
      </div>

      <div class="box">
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input
            type="text"
            class="box-el colored side-objective"
            name="Right"
          />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
      </div>
    </div>

    <!-- Bottom Line -->
    <div class="line">
      <div class="box">
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input
            type="text"
            class="box-el colored side-objective"
            name="BottomLeft"
          />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
      </div>

      <div class="box">
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input
            type="text"
            class="box-el colored side-objective"
            name="Bottom"
          />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
      </div>

      <div class="box">
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input
            type="text"
            class="box-el colored side-objective"
            name="BottomRight"
          />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
      </div>
    </div>
  </div>
  <button type="submit">Submit</button>
</form>

<script src="/scripts/mainbox.js"></script>

<%- include('partials/footer') %>
