<%- include("partials/header") -%>
<div></div>
<form action="/main/create" method="get">
  <div class="plusBtnContainer">
    <button><img src="imgs/plusBtn.png" alt="" /></button>
  </div>
</form>

<%- include('partials/footer') %>
