<%- include("partials/header") -%>

<body class="main-body">
  <form action="/main/create/:id" method="post"><%- include("partials/boxes") -%></form>


  <script src="/scripts/boxes.js"></script>
</body>

<%- include('partials/footer') %>