<%- include('partials/header') %>

<div class="box login-box">
  <h1>Sign up</h1>
  <form action="/auth/signup" method="POST">
    <input
      type="email"
      name="username"
      placeholder="email address"
      autocomplete="none"
      required
    />
    <input type="password" name="password" placeholder="password" />
    <input
      type="password"
      name="password-confirm"
      placeholder="confirm password"
    />
    <h1></h1>
    <input type="submit" value="signup" />
  </form>
  <h3 class="To-text">
    Already have an account? <a href="/auth/login">Login</a>
  </h3>
</div>


  <%- include('partials/footer') %>
</div>
