<%- include('partials/header') %>

<div class="signup-con">
    <h1>Sign Up</h1>
        
        <div class="card">
            <form class="sign-up-form">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputName" class="sr-only">Name</label>
            <input type="name" id="inputName" class="form-control" placeholder="Name" required>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-dark btn-block" type="submit">Sign Up</button>
            </form>
            
          <div class="card-body">
            <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
              <i class="fab fa-google"></i>
              Sign Up with Google
            </a>
          </div>

          <div class="card-body">
            <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook" role="button">
              <i class="fab fa-facebook"></i>
              Sign Up with Facebook
            </a>
          </div>

          <div class="card-body">
            <p class="To-text">Already have an account? <a href="login">Login</a></p>
          </div>
        
</div>


<%- include('partials/footer') %>
