<%- include('partials/header') %>
<body class="auth-body">
  <div class="auth-container">
    <%- include('partials/messages') %>
    <h2>Sign up</h2>
    <p class="body2">Welcome to Manda La Art!</p>
    <form class="auth-form" action="/auth/signup" method="POST">
      <input
        type="email"
        name="email"
        placeholder="Email"
        autocomplete="none"
      />
      <div class="password-container">
        <input
          id="password1"
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <span class="confirm-circle"></span>
      </div>

      <div class="password-container">
        <input
          id="password2"
          type="password"
          name="password2"
          placeholder="Confirm Password"
          required
        />
        <span class="confirm-circle"></span>
      </div>

      <input type="submit" class="signup-btn" value="Sign Up" />
    </form>
  </div>
</body>
<script src="/scripts/auth.js"></script>
<%- include('partials/footer') %>
