<%- include("partials/header") -%>

<div class="smallBoxContainer">
    <table id="smallbox">
        <tr>
            <td class="plan"><textarea class="form-control "></textarea> </td>
            <td class="plan"><textarea class="form-control "></textarea></td>
            <td class="plan"><textarea class="form-control "></textarea> </td>
        </tr>
        <tr>
            <td class="plan"><textarea class="form-control "></textarea> </td>
            <td class="plan" > <div class="colored-objective"></div></td>
            <td class="plan"><textarea class="form-control "></textarea> </td>
        </tr>
        <tr>
            <td class="plan"><textarea class="form-control "></textarea> </td>
            <td class="plan"><textarea class="form-control "></textarea> </td>
            <td class="plan"><textarea class="form-control "></textarea> </td>
        </tr>
    </table>
</div>

<%- include('partials/footer') %>