<%- include("partials/header") -%>

<div class="smallBoxContainer">
    <table id="smallbox">
        <tr>
            <td class="plan"><input class="form-control "></td>
            <td class="plan"><input class="form-control "></td>
            <td class="plan"><input class="form-control "></td>
        </tr>
        <tr>
            <td class="plan"><input class="form-control "></td>
            <td class="plan" > <div class="colored-objective"><h4><%=smallBoxObjective%></h4></div></td>
            <td class="plan"><input class="form-control "></td>
        </tr>
        <tr>
            <td class="plan"><input class="form-control "></td>
            <td class="plan"><input class="form-control "></td>
            <td class="plan"><input class="form-control "></td>
        </tr>
    </table>
</div>

<%- include('partials/footer') %>