.auth-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.auth-container h2 {
  margin-bottom: 2rem;
}
.auth-container .body2 {
  margin-bottom: 3rem;
}
.auth-container h3 {
  color: #ff911f;
  font-size: 2rem;
  line-height: 3rem;
}
.auth-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.auth-form input[type='submit'],
.auth-form input[type='email'],
.auth-form input[type='password'] {
  -webkit-box-sizing: border-box; /*Safari/Chrome*/
  -moz-box-sizing: border-box; /*Firefox*/
  box-sizing: border-box;
  margin-top: 1.5rem;
  width: 50rem;

  border-radius: 3rem;
  font-size: 2rem;
  line-height: 3rem;
  transition: 0.25s;
}
.auth-form input[type='password'],
.auth-form input[type='email'] {
  background: #e0e0e0;
  color: #828282;
  padding: 2rem 2rem 2rem 4rem;
}
.auth-form input[type='submit'] {
  padding: 2rem 0;
}
.login-btn {
  background: none;
  background-color: #323232;
  color: #ff911f;
}

.signup-btn {
  background: none;
  background-color: #ff911f;
  color: #323232;
}

.auth-form input[type='submit']:hover {
  opacity: 0.9;
}

.auth-form input[type='email']:focus,
.auth-form input[type='password']:focus {
  width: 53rem;
  border-color: #ebf6a7;
}
.password-container {
  position: relative;
}
.confirm-circle {
  position: absolute;
  top: 50%;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
