:root {
  /* color */

  --color-dark: #404040;
  --color-operation: #0094FF;
  --color-background-dark: #152232;
  --color-comfortable-white: #f0f0f0;
  --color-beige: #d7cbb5;

  /* box theme color*/

  --mainObj-bg-color: #f2f2f2;
  --bigPlan-bg-color: #333333;
  --smallPlan-bg-color: #f2f2f2;
  --box-border-color: #c7d2ce;
  --bigPlan-font-color: #000;
  --smallPlan-font-color: #fff;

  /* font */
  --font-gamja: 'Gamja Flower', cursive;
}
/* property */
.green {
  background-color: var(--color-green);
  color: #fff;
}
.pink {
  background-color: var(--color-pink);
  color: #fff;
}
.blue {
  background-color: var(--color-blue);
  color: #fff;
}
.olive {
  background-color: var(--color-olive);
  color: #fff;
}
.purple {
  background-color: var(--color-purple);
  color: #fff;
}
.dark {
  background-color: var(--color-dark);
  color: #fff;
}
.white {
  background-color: var(--color-comfortable-white) !important;
}
.beige {
  background-color: var(--color-beige);
}

/* Box Themes */
[data-theme='modern'] {
  --mainObj-bg-color: #f2f2f2;
  --bigPlan-bg-color: #333333;
  --smallPlan-bg-color: #f2f2f2;
  --box-border-color: #c7d2ce;
  --bigPlan-font-color: #fff;
  --smallPlan-font-color: #000;
}
[data-theme='sky'] {
  --mainObj-bg-color: #ffffff;
  --bigPlan-bg-color: #cedbe3;
  --smallPlan-bg-color: #ffffff;
  --box-border-color: #8f92b0;
  --bigPlan-font-color: #000;
  --smallPlan-font-color: #000;
}
[data-theme='moonNight'] {
  --mainObj-bg-color: #323232;
  --bigPlan-bg-color: #ecd9b9;
  --smallPlan-bg-color: #323232;
  --box-border-color: #ffffff;
  --bigPlan-font-color: #000;
  --smallPlan-font-color: #fff;
}
[data-theme='egyption'] {
  --mainObj-bg-color: #d7cbb5;
  --bigPlan-bg-color: #333333;
  --smallPlan-bg-color: #d7cbb5;
  --box-border-color: #a99c83;
  --bigPlan-font-color: #fff;
  --smallPlan-font-color: #000;
}
[data-theme='greenary'] {
  --mainObj-bg-color: #89a390;
  --bigPlan-bg-color: #cdd7ca;
  --smallPlan-bg-color: #89a390;
  --box-border-color: #cfcfcf;
  --bigPlan-font-color: #000;
  --smallPlan-font-color: #000;
}
[data-theme='modernBlue'] {
  --mainObj-bg-color: #f2f2f2;
  --bigPlan-bg-color: #3e4a6b;
  --smallPlan-bg-color: #f2f2f2;
  --box-border-color: #cbcfd0;
  --bigPlan-font-color: #fff;
  --smallPlan-font-color: #000;
}

/* margin */

.marT_10 {
  margin-top: 1rem;
}
.marT_20 {
  margin-top: 2rem;
}
.marT_30 {
  margin-top: 3rem;
}
.marT_40 {
  margin-top: 4rem;
}
.marT_50 {
  margin-top: 5rem;
}
.marT_60 {
  margin-top: 6rem;
}

.marB_10 {
  margin-bottom: 1rem;
}
.marB_20 {
  margin-bottom: 2rem;
}
.marB_30 {
  margin-bottom: 3rem;
}
.marB_40 {
  margin-bottom: 4rem;
}
.marB_45 {
  margin-bottom: 45px;
}
.marB_50 {
  margin-bottom: 5rem;
}
.marB_60 {
  margin-bottom: 6rem;
}

.marR_10 {
  margin-right: 1rem;
}
.marR_20 {
  margin-right: 2rem;
}
.marR_30 {
  margin-right: 3rem;
}
.marR_40 {
  margin-right: 4rem;
}
.marR_50 {
  margin-right: 5rem;
}
.marR_60 {
  margin-right: 6rem;
}

.marL_10 {
  margin-left: 1rem;
}
.marL_20 {
  margin-left: 2rem;
}
.marL_30 {
  margin-left: 3rem;
}
.marL_40 {
  margin-left: 4rem;
}
.marL_50 {
  margin-left: 5rem;
}
.marL_60 {
  margin-left: 6rem;
}

.mar0_auto {
  margin: 0 auto;
}

/* position */
.justify {
  display: flex;
  justify-content: space-between;
}

.bold{
  font-weight: 500;
}


/* animation */

@-webkit-keyframes spin { 100%{ -webkit-transform: rotate(360deg); } } @-moz-keyframes spin { 100%{ -moz-transform: rotate(360deg); } } @-ms-keyframes spin { 100%{ -ms-transform: rotate(360deg); } } @keyframes spin { 100%{ transform: rotate(360deg); } }
