.test-container .test-box {
  width: 60px;
  height: 60px;
  background-color: var(--bigPlan-bg-color);
}
.mainbox-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.mainbox-container .box-background {
  width: 80rem;
  height: 80rem;
  border-radius: 20px;
  background: rgba(48, 47, 47, 0.4);
}

.mainbox-container .big-boxes {
  width: 72rem;
  border-left: 1px solid var(--box-border-color);
  border-bottom: 1px solid var(--box-border-color);
}
.mainbox-container .big-line {
  width: 24rem;
}
.mainbox-container .small-line {
  border-top: 1px solid var(--box-border-color);
}
.mainbox-container .small-box {
  resize: none;
  width: 8rem;
  height: 8rem;
  border: none;
  box-sizing: border-box;
  border-right: 1px solid var(--box-border-color);
  background-color: var(--smallPlan-bg-color);
  color: var(--smallPlan-font-color);
  padding: 1rem;
  line-height: 2rem;
  font-size: 1.2rem;
  transition: all ease 0.2s;
}
.mainbox-container .small-box.small-obj {
  background-color: var(--bigPlan-bg-color);
  color: var(--bigPlan-font-color);
}
.mainbox-container .small-boxes.middle .small-obj {
  background-color: var(--bigPlan-bg-color);
  color: var(--bigPlan-font-color);
}
.mainbox-container .main-obj {
  background-color: var(--mainObj-bg-color);
  color: var(--smallPlan-font-color);
}
.mainbox-container .small-box:focus {
  transform: scale(1.5);
  border: 1px solid var(--box-border-color);
  z-index: 5;
}
