/* property */
.green {
  background-color: var(--color-green);
}
.pink {
  background-color: var(--color-pink);
}
.blue {
  background-color: var(--color-blue);
}
.olive {
  background-color: var(--color-olive);
}
.purple {
  background-color: var(--color-purple);
}
.dark {
  background-color: var(--color-dark);
}

.color-selected {
  border: 1.5px solid #fff;
  transform: scale(1.2, 1.2);
}

.showing {
  display: block;
}

.create-box {
  width: 100%;
  max-width: 560px;
  padding: 2.5rem;
  margin: 0 auto;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 10px;
}

.back-btn {
  width: 1.8rem;
  height: 2.3rem;
  fill: #fff;
}
.back-btn:hover {
  fill: #000000;
}

form {
  color: #fff;
  text-align: center;
}
.obj-create h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 2.5rem 0.5rem;
}
.obj-create h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 2rem;
  padding: 0 1rem;
}

.main-obj-input {
  width: 20rem;
  line-height: 4rem;
  margin-top: 2.5rem;
  font-size: 2rem;
  text-align: center;
  border-radius: 10px;
}

.theme-colors {
  display: flex;
  width: 20rem;
  justify-content: space-between;
  margin: 2rem auto;
}

input[type='radio'] {
  display: none;
}
input[type='radio'] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  border-radius: 50%;
}

input[type='radio'] + label:hover span {
  cursor: pointer;
}

input[type='radio']:checked + label span {
  transform: scale(1.5);
  border: 2px solid #fff;
}

.arrow-down {
  background: none;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-style: solid;
  border-color: #fff;
  border-width: 0px 1px 1px 0px;
  margin-top: 2.5rem;
  transform: rotate(45deg);
  box-sizing: border-box;
}
.arrow-down:hover {
  border-color: #000;
}

/* mobile */
@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

/* tablet */

@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 12px;
  }
}
