.cubes-container.bottom {
  position: absolute;
  bottom: 0;
  left: 3%;
}

.cubes {
  width: 40rem;
  display: flex;
}
.empty-cube {
  width: 4rem;
  height: 4rem;
}

.cube {
  width: 4rem;
  height: 4rem;
  background: #e8e1e1;
}

.cube.attached {
  width: 4rem;
  height: 4rem;
  background: #e8e1e1;
  position: absolute;
  right: 5rem;
  top: -3rem;
  z-index: 1;
  box-shadow: 10px 10px 30px rgba(255, 255, 255, 0.8),
    -10px -10px 10px rgba(27, 27, 27, 0.4);
  border-radius: 5px;
  transform: rotate(153.49deg);
}

.main-title-en {
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.6rem;
  letter-spacing: 0.05em;
  color: #ebf6a7;
}
.main-title-en span {
  color: var(--color-comfortable-white);
}

.main-title-kr {
  margin-top: 1.3rem;
  font-size: 4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 5.1rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-comfortable-white);
  text-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
}
.main-title-kr span {
  color: #ebf7a7;
}

.start-btn {
  margin-top: 2rem;

  box-shadow: -5px -5px 20px rgba(218, 218, 218, 0.3),
    5px 5px 20px rgba(0, 0, 0, 0.4);
  border-radius: 100px;

  width: 15.5rem;
  height: 4rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.25s;
  background: var(--color-comfortable-white);
  color: var(--color-background-dark);
}
.start-btn:hover {
  background: var(--color-background-dark);
  color: var(--color-comfortable-white);
  border: 1px solid var(--color-comfortable-white);
}

/* mobile */
@media (max-width: 768px) {
  .cubes-container.bottom {
    display: none;
  }
}

/* tablet */

@media (min-width: 768px) and (max-width: 1024px) {
  .cubes-container.bottom {
    display: none;
  }
}
