.box {
  position: absolute;
  width: 90vh;
  text-align: center;
  padding: 4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin: 0 auto; */
  color: var(--color-comfortable-white);
  min-height: 30rem;
  box-sizing: border-box;
  background: #152232;
  box-shadow: -10px -10px 30px #ffffff, 10px 10px 30px rgba(0, 0, 0, 0.4);
  border-radius: 19px;
}

/* mobile */
@media (max-width: 768px) {
  .box {
    width: 40vh;
  }
}

/* tablet */

@media (min-width: 768px) and (max-width: 1024px) {
  .box {
    width: 70vh;
  }
}
