.auth-body {
  background-color: var(--color-comfortable-white);
}
.home-body {
  background-color: var(--color-beige);
}
.main-body {
  background: #eef2f1;
}

/* header */

nav .profile {
  position: relative;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
}
nav .profile img {
  width: 6rem;
  height: 6rem;
}
nav .profile .bubble {
  text-decoration: none;
  display: none;
  position: relative;
  background: #ffffff;
  color: #000;
  font-size: 2rem;
  line-height: 4rem;
  text-align: center;
  width: 11rem;
  height: 4rem;
  border-radius: 5px;
  padding: 11px;
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
}
nav .profile .bubble::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: #ffffff transparent;
  border-width: 0 1.4rem 2rem;
  top: -2rem;
  left: 50%;
  margin-left: -1.4rem;
}

/* BOXES */

.box-container .name {
  text-align: center;
}
.box-background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-backdrop {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.big-boxes {
  border-left: 1px solid #c7d2ce;
  border-bottom: 1px solid #c7d2ce;
}
.big-line {
  display: flex;
}
.small-line {
  border-top: 1px solid #c7d2ce;
  display: flex;
}
.small-box {
  border-right: 1px solid #c7d2ce;
}

/* modal */
.showing {
  display: block !important;
}

.modal {
  display: none;
}
.modal .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
}
.modal .modal-content {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
}
.modal .closeBtn {
  position: fixed;
  top: 4rem;
  right: 4rem;
  z-index: 4;
  cursor: pointer;
}
.modal .nextBtn {
  position: fixed;
  bottom: 9rem;
  right: 5rem;
  z-index: 4;
  cursor: pointer;
}

.modal .prevBtn {
  position: fixed;
  bottom: 9rem;
  left: 5rem;
  z-index: 4;
  cursor: pointer;
}

/* icon */
.main-body .check {
  position: absolute;
  right: 2rem;
  bottom: 3rem;
  width: 9rem;
  height: 9rem;
}
