.list-container {
  margin: 3rem auto;
  width: 70%;
}

.list-container .box-container {
  display: inline-block;
  margin: 10px 15px;
  text-align: center;
}

.list-container .box-background {
  width: 270px;
  height: 270px;
  border-radius: 20px;
  background: rgba(48, 47, 47, 0.4);
  position: relative;
}

.list-container .theme-img img {
  width: 100%;
  height: 100%;
}

/* edit icons */
.list-container .box-backdrop {
  position: absolute;
  border-radius: 20px;
  background: rgba(48, 47, 47, 0.4);
}

.list-container .edit-icons {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  display: none;
}
.box-container .edit-icons img {
  display: block;
  cursor: pointer;
}

/* plus btn modal */
.plusBtncontainer {
  position: fixed;
  bottom: 5rem;
  right: 3rem;
}
.plusBtncontainer #plusBtn {
  cursor: pointer;
}

/* modals */

.modal-content .order {
  display: inline;
}

/* modal1 */
.option-container {
  margin: 6rem auto;
  width: 45%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.option-container input[type='radio'] {
  display: none;
}
.option-container .box-container {
  cursor: pointer;
}
.option-container input[type='radio']:checked ~ label .box-background {
  background: #ff0000;
}

.option-container .box-background {
  width: 21.5rem;
  height: 21.5rem;
  border-radius: 20px;
  background: rgba(48, 47, 47, 0.4);
}

.option-container .small-boxes {
  width: 6rem;
}

.option-container .small-box {
  width: 2rem;
  height: 2rem;
}
.option-container .name {
  font-size: 1.5rem;
}

/* modal2 */
#box-modal2 .footer {
  margin-top: 18rem;
}
#box-modal2 .footer input {
  width: 70rem;
  height: 10rem;
  border: 3px solid #ff0000;
  border-radius: 30px;
  font-size: 4rem;
  line-height: 7rem;
  padding: 1rem 3rem;
}

/* modal3 */
#box-modal3 .main-box {
  width: 30%;
  margin: 3rem auto;
  position: relative;
}
#box-modal3 .line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.4rem;
}
#box-modal3 .main-box .input-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#box-modal3 .main-box textarea {
  resize: none;
  border: 5px solid #ff0000;
  box-sizing: border-box;
  padding: 3rem;
  width: 24rem;
  height: 24rem;
}
#box-modal3 .blank {
  width: 17rem;
  height: 17rem;
  background: #333333;
}

#box-modal3 .input-box span {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2rem 1rem;
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  background-color: #ff0000;
}

/* modal4 */
#box-modal4 .input-boxes {
  margin: 3rem auto;
}
#box-modal4 .line {
  display: flex;
  border-bottom: 1px solid #fff;
}

#box-modal4 .line * {
  width: 17rem;
  height: 17rem;

  border-right: 1px solid #fff;
  box-sizing: border-box;
}
#box-modal4 .line textarea {
  color: #fff;
  background: #333333;
  padding: 2.4rem;
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  line-height: 3rem;
  resize: none;
}
#box-modal4 .main-obj {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#box-modal4 .check {
  width: 8rem;
  bottom: 5rem;
}

/* #box-modal5 */
#box-modal5 .order {
  color: #ff0000;
}
#box-modal5 .header {
  margin-bottom: 9rem;
}
#box-modal5 .footer img {
  margin-bottom: 3rem;
}
