nav {
  top: 2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.home-logo {
  width: 5rem;
}
.home-logo img {
  width: 100%;
}

.cubes-container {
  position: fixed;
  top: 0;
  right: 10%;
  z-index: -1;
}

.cubes {
  display: flex;
}

.cube {
  width: 6rem;
  height: 6rem;
  border-radius: 5px;
}
.falling1 {
  position: absolute;
  bottom: 3rem;
  left: -20rem;
  transform: rotate(153.49deg);
}
.falling2 {
  position: absolute;
  bottom: -2rem;
  left: -7rem;
  transform: rotate(-142.93deg);
}
