nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.cubes-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
}

.cubes {
  display: flex;
}

.cube {
  width: 3.12vw;
  height: 3.12vw;
  border-radius: 5px;
}
