html,
body {
  height: 100%;
  font-size: 10px;
}

/* navbar */
.navbar-brand {
  font-family: 'Roboto';
}

.profile-container {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
